---
layout: layout.njk
title: Welcome to Mac's Website
---
<section class="jumbotron">
  <h1>Hi, I'm Mac!</h1>
  <p><em>I am a Software Engineer. See more about me and my portfolio below!</em></p>
</section>
<section class="section -irresistible">
  <div class="content">
    {{ content | safe }}
  </div>
</section>
<section class="section -teal">
  <div class="content">
    <h2>Portfolio</h2>
    <div class="portfolio">
      {% for project in site.portfolio %}
        <a class="portfolio__card" href="{{ project.href }}" aria-label="{{ project.name }}">
          <picture>
            <source type="image/webp" srcset="{{ project.webpSrc }}">
            <img src="{{ project.jpgSrc }}" alt="{{ project.name }} thumbnail" loading="lazy" width="314" height="314">
          </picture>
        </a>
      {% endfor %}
    </div>
  </div>
</section>
