---
layout: layout.njk
title: Welcome to Mac's Website
---
<section class="jumbotron">
  <h1>Hi, I'm Mac!</h1>
  <p><em>I am a Software Engineer. See more about me and my portfolio below!</em></p>
</section>
<section class="section -irresistible">
  <div class="content">
    {{ content | safe }}
  </div>
</section>
<section class="section -teal">
  <div class="content">
    <h2>Portfolio</h2>
    <div class="portfolio">
      <a class="portfolio__card" href="https://github.com/Macinto5h/eigencu" aria-label="EigenCU">
        <picture>
          <source type="image/webp" srcset="/assets/img/portfolio/eigencu/eigencu.webp">
          <img src="/assets/img/portfolio/eigencu/eigencu.jpg" alt="Snapshot of EigenCU application" loading="lazy" width="314" height="314">
        </picture>
      </a>
      <a class="portfolio__card" href="https://github.com/Macinto5h/Sorting-Algorithm-Visualizer" aria-label="Vogel Sorter">
        <picture>
          <source type="image/webp" srcset="/assets/img/portfolio/vogel-sorter/vogel-sorter.webp">
          <img src="/assets/img/portfolio/vogel-sorter/vogel-sorter.jpg" alt="Snapshot of vogel sorter application" loading="lazy" width="314" height="314">
        </picture>
      </a>
    </div>
  </div>
</section>
