---
layout: layout.njk
---

<div class="text-center">
  {{ content | safe }}

  <safety-slider no-arrows no-drag class="mx-auto pt-5">
    {% for project in site.portfolio %}
      <a href="{{ project.href }}" aria-label="{{ project.name }}">
        <picture>
          <source type="image/webp" srcset="{{ project.webpSrc }}">
          <img src="{{ project.jpgSrc }}" alt="{{ project.name }} thumbnail" loading="lazy" width="314" height="314">
        </picture>
      </a>
    {% endfor %}
  </safety-slider>
</div>
