aside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;

  display: grid;
  align-items: center;
  width: 6.4rem;
  padding: 2.5rem 0;

  font-size: 1.6rem;
  writing-mode: vertical-lr;

  @include teal-irresistible-gradient;
  box-shadow: -2px 0 6px rgba($dark, .2) inset;

  nav {
    grid-column: 2;
    text-align: right;

    a {
      color: inherit;
      margin: 1.25rem 0;
    }
  }
}
