.jumbotron {
  display: grid;
  align-content: center;
  height: 100vh;
  padding: 2.5rem;

  text-align: center;

  @include teal-irresistible-gradient;
  background-attachment: fixed;

  h1 {
    color: $light;
  }
}
