.portfolio {
  width: 100%;
  max-width: 325px;
  margin: 0 auto;
  padding: 0 0 2rem;

  &__card {
    box-sizing: border-box;
    color: $light;
    display: block;
    font-size: 1.8rem;
    height: auto;
    position: relative;
    width: 100%;

    img {
      display: block;
      height: auto;
      width: 100%;
    }

    &::before {
      @include transition(height 0.125s ease-in-out, color 0.125s ease-in-out);
      align-items: center;
      background-color: rgba($dark, 0.8);
      bottom: 0;
      color: transparent;
      content: attr(aria-label);
      display: flex;
      height: 0;
      justify-content: center;
      left: 0;
      overflow: hidden;
      position: absolute;
      right: 0;
      z-index: 0;
    }

    &:hover::before {
      color: $light;
      height: 100%;
    }
  }

  .safety-slider-dot {
    width: 10px;
    height: 10px;
    background-color: $dark;

    &[disabled] {
      background-color: $light;
      opacity: 1;
    }
  }

  safety-slider:not(.hydrated) {
    min-height: 345px;
  }
}
