.section {
  min-height: 100vh;
  display: grid;
  align-items: center;

  &.-dark-to-teal {
    background: linear-gradient(to bottom, $dark 0%, $primary 100%);
  }

  &.-irresistible {
    background-color: $secondary;
  }

  &.-teal {
    background-color: $primary;
  }
}
