
/* Colors */

$teal-blue:      #2d728f;
$irresistible:   #aa4465;
$cadmium-orange: #f7934c;
$isabelline:     #f9f4f1;
$oxford-blue:    #030029;

$primary:   $teal-blue;
$secondary: $irresistible;
$tertiary:  $cadmium-orange;
$dark:      $oxford-blue;
$light:     $isabelline;

/* Typography */

$body-font-size:   10px;
$body-line-height: 1.5;
$body-font-family: Ubuntu, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, roboto, noto, arial, sans-serif;
