---
layout: default.njk

pageTitle: Welcome to my website
pageDescription: Hi, my name is Mac and this is my website.
---

<div class="text-center flex flex-col justify-center min-h-screen">
  <h1 class="text-4xl">Hi, my name is Mac</h1>
  <em>and this is my website</em>
</div>
